.p1{
    color: white;
    background-color: blue;
    width:230px;
    height: 165px;
    border: 1px solid black ;
    border-radius: 10px;
    margin-top: -4px;
    
}

.lisa1{
    width: 230px;
    height: auto;
    border-radius: 10px;
}

.p2{
    color: red;
    background-color: aquamarine;
    width: 230px;
    height: 165px;
    border: 1px solid black;
    border-radius: 10px;
}

.lisa2{
    
}