h1{
    color: green;
}

#botao_red{
    color:blue;
}

#botao_azul{
    color: red;
}

.classe1{
    background-color: white;
    color: purple;
}

.classe2{
    background-color: black;
    color: white;
}

.classe3{
    background-color: red;
    color: white;
}

h1.center{
    text-align: center;
    color: black;
}

p.center{
    text-align: right;
    font-weight: bolder, 900;
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 16px;
    line-height: 24px;    
}

h1.olazinha{
    color: deeppink;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}