.grid-container{
    display: grid;
    grid-template-columns:20% 25% 20% 15% 20%;
}

.grid-item{
    border: 1px solid rgb(218, 102, 102);
    padding: 30px;
}

.item4 {
    grid-column-start: 1 ;
    grid-column-end: 1 ;
    grid-row-start: 1 ;
    grid-row-end: 3 ;
}

.item5 {
    grid-column-start: 5 ;
    grid-column-end: 5 ;
    grid-row-start: 1 ;
    grid-row-end: 3 ;
}

img{
    width: 100%;
    height: auto;
}


.titulo_oficial{
    left: 150px;
}